body {
  font-family: 'Antic Didone', serif;
}

#main {
  font-family: 'Antic Didone', serif;
  /* border: 1px lightgrey solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#player1 {
  order: 1;
}

#player2 {
  order: 3;
}

#board {
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  padding: 3em;
}

#board:nth-child(1) {
  border-radius: 10px 0 0 0;
}

.grid-item {
  width: 5em;
  height: 5em;
  background-color: darkslategrey;
  text-align: center;
  /* color: rgb(228, 226, 226); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 2em;
  font-size: 28px;
  text-align: center;
}

.player-div {
  display: flex;
  border: 1px solid lightgrey;
  padding: 2em;
  /* margin-top: 3em; */
}

#players-container {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  /* height: 200px; */
}


/* TOGGLE CLASS REFERENCED IN JS */
.active-player {
  background-color: black;
  color: white;
}

/* RAINBOW COLOR SCHEME BOARD BELOW */
/* (colors from Semantic UI) */

#one {
  background-color: #B03060;
}

#two {
  background-color: #FE9A76;
}

#three {
  background-color: #FFD700;
}

#four {
  background-color: #016936;
}

#five {
  background-color: #008080;
}

#six {
  background-color: #0E6EB8;
}

#seven {
  background-color: #EE82EE;
}

#eight {
  background-color: #B413EC;
}

#nine {
  background-color: #FF1493;
} 
/* 
Colors from semantic:
@primaryColor   : @pink;
@secondaryColor : @grey;
@red            : #B03060;
@orange         : #FE9A76;
@yellow         : #FFD700;
@olive          : #32CD32;
@green          : #016936;
@teal           : #008080;
@blue           : #0E6EB8;
@violet         : #EE82EE;
@purple         : #B413EC;
@pink           : #FF1493;
@brown          : #A52A2A;
@grey           : #A0A0A0;
@black          : #000000; */