body, #header {
  font-family: 'Antic Didone', serif;
  /* background-color: var(--off-white); */
  background-color: #f9f9f9;
}

#header {
  margin-top: 2em;
}

#main {
  font-family: 'Antic Didone', serif;
  /* border: 1px lightgrey solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px; 
}

#player1 {
  order: 1;
}

#player2 {
  order: 3;
}

#board {
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.div-center {
  text-align: center;
}

#result-div {
  font-size: 2em;
  font-weight: bold;
}

.grid-item {
  width: 6em;
  height: 6em;
  /* background-color: darkslategrey; */
  text-align: center;
  /* color: rgb(228, 226, 226); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 3px; */
}

h1 {
  margin: 2em;
  font-size: 28px;
  text-align: center;
}

.player-div {
  display: flex;
  border: 1px solid lightgrey;
  padding: 2em;
  border-radius: 3px;
}

#players-container {
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.hidden-start {
  display: none;
}


/* TOGGLE ACTIVE PLAYER CLASS REFERENCED IN JS */
.active-player {
  /* border: 3px var(--blue) solid; */
  color: black;
  box-shadow: 0 0 0 3px var(--blue) inset;
}

/* .active-player1 {
  background-color: var(--blue);
  color: white;
} */

/* .active-player2 {
  background-color: var(--purple);
  color: white;
} */

/* Styles for X's and O's on game board */
.square {
  
}


/* RAINBOW COLOR SCHEME */
/* (colors from Semantic UI) */

:root {
  --red: #d72631;;
  --orange: #f2711c;
  --yellow: #fbbd08;
  --olive: #b5cc18;
  --green: #21ba45;
  --teal: #00b5ad;
  --blue: #2185d0;
  --violet: #6435c9;
  --purple: #a333c8;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #767676;
  --black: #1b1c1d;
/* Color Wheel  */
  --winered: #993333;
  --fire-engine-red: #ff3333;
  --orange-peach: #ff6633;
  --yellow-orange: #ffcc33;
  --light-yellow: #ffff66;
  --light-lime: #cccc33;
  --green-apple: #669933;
  --blue-sky: #3399cc;
  --dusky-sky: #336699;
  --violet2: #333399;
  --purple2: #663399;
  /* Semantic BRIGHT  */
  --bright-green: #32cd32;
  --off-white: #fffff4;
 }


#one {
  color: var(--purple);
  border: 3px var(--purple) solid;
}
.one-checked {
  color: white;
  background-color: var(--purple);
}

.one {
  background-color: green;
}

#two {
  color: var(--violet);
  border: 3px var(--violet) solid;
}
.two-checked {
  color: white;
  background-color: var(--violet);
}

#three {
  color: var(--red);
  border: 3px var(--red) solid;
}
.three-checked {
  color: white;
  background-color: var(--red);
}

#four {
  color: var(--blue);
  border: 3px var(--blue) solid;
}
.four-checked {
  color: white;
  background-color: var(--blue);
}

#five {
  color: var(--olive);
  border: 3px var(--olive) solid;
}
.five-checked {
  color: white;
  background-color: var(--olive);
}

#six {
  color: var(--orange-peach);
  border: 3px var(--orange-peach) solid;
}
.six-checked {
  color: white;
  background-color: var(--orange-peach);
}

#seven {
  color: var(--teal);
  border: 3px var(--teal) solid;
}
.seven-checked {
  color: white;
  background-color: var(--teal);
}

#eight {
  color: var(--green);
  border: 3px var(--green) solid;
}
.eight-checked {
  color: white;
  background-color: var(--green);
}

#nine {
  color: var(--yellow);
  border: 3px var(--yellow) solid;
}
.nine-cheked {
  color: white;
  background-color: var(--yellow);
}






/* UNCOMMENT TO SEE THE GRID IN FULL RAINBOW */
/* 
#one {
  background-color: var(--purple);
  border: 3px var(--purple) solid;
}
.one-checked {
  background-color: var(--purple);
}

#two {
  background-color: var(--violet);
  border: 3px var(--violet) solid;
}
.two-checked {
  background-color: var(--violet);
}

#three {
  background-color: #d72631;
  border: 3px var(--red) solid;
}
.three-checked {
  background-color: var(--red);
}

#four {
  background-color: var(--blue);
}

#five {
  color: white;
  background-color: var(--olive);
}

#nine {
  background-color: var(--yellow);
}
#seven {
  background-color: var(--teal);
}
#eight {
  background-color: var(--olive);
  background-color: var(--green);
}

#six {
  background-color: var(--orange-peach);
} */


/* NOTES 
HOW TO MANUALLY SET COLORS IN CSS: 

// TO SET:
  :root {
  --blue: #00008B;
}

//TO USE: 
color: var(--blue)

SRC = https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */