body {
  font-family: 'Antic Didone', serif;
}

#main {
  font-family: 'Antic Didone', serif;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

#board {
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  /* padding-top: 50px; */
}

.grid-item {
  width: 4em;
  height: 4em;
  background-color: darkslategrey;
  text-align: center;
  /* color: rgb(228, 226, 226); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 2em;
  font-size: 28px;
  text-align: center;
}

.player-div {
  display: flex;
  border: 1px solid lightgrey;
  padding: 2em;
  /* margin-top: 3em; */
}

#players-container {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  /* height: 200px; */
}

/* .players {
  display:flex;
  justify-content: space-between
} */

.active-player {
  background-color: black;
  color: white;
}

/* 
#player1 {
  position: relative;
  float: left;
}

#player2 {
  position: relative;
  float: right;
} */

/* RAINBOW COLOR SCHEME BOARD BELOW */
/* (colors from Semantic UI) */

/* #one {
  background-color: #B03060;
}

#two {
  background-color: #FE9A76;
}

#three {
  background-color: #FFD700;
}

#four {
  background-color: #016936;
}

#five {
  background-color: #008080;
}

#six {
  background-color: #0E6EB8;
}

#seven {
  background-color: #EE82EE;
}

#eight {
  background-color: #B413EC;
}

#nine {
  background-color: #FF1493;
} */
/* 
Colors from semantic:
@primaryColor   : @pink;
@secondaryColor : @grey;
@red            : #B03060;
@orange         : #FE9A76;
@yellow         : #FFD700;
@olive          : #32CD32;
@green          : #016936;
@teal           : #008080;
@blue           : #0E6EB8;
@violet         : #EE82EE;
@purple         : #B413EC;
@pink           : #FF1493;
@brown          : #A52A2A;
@grey           : #A0A0A0;
@black          : #000000; */