#main {
  font-family: 'Antic Didone', serif;
}
#board {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  margin: auto;
  padding-top: 50px;
}

.grid-item {
  width: 4em;
  height: 4em;
  /* border: 1px rgb(143, 143, 143) solid; */
  background-color: darkslategrey;
  text-align: center;
  color: rgb(228, 226, 226);
}

/* #main {
  display: flex; */
  /* justify-content: center;
  align-items: center;
  justify-items: center; */
/* } */


h1 {
  margin: 2em;
  font-size: 28px;
  text-align: center;
  /* color: darkslategrey; */
}